h1 {
    font-family: 'Abril Fatface';
    font-size: 50px;
    color: white;
    text-align: center;
    border: 1px solid lightgrey;
    background-color: lightsalmon;
}

.currentHeader {
  font-family: 'Abril Fatface';
  font-size: 50px;
  color: white;
  text-align: center;
  border: 1px solid lightgrey;
  background-color: lightsalmon;
}

.search-container {
  height: 400px;
  padding-left: 15px;
  font-family: 'Source Sans Pro';
}

.jumbo-container {
  border: 1px solid lightgrey;
  background-color: white;
  width: 750px;
  height: 300px;
  text-align: center;
}

h3 {
  font-family: 'Abril Fatface';
  font-size: 20px;
  color: white;
  text-align: center;
  background-color: lightsalmon;
  float: right;
}

ul {
  font-family: 'Source Sans Pro';
  list-style: none;
}

.card-body {
  height: 200px;
}

.city1 {
  height: 50px;
}

.city2 {
  height: 50px;
}

.city3 {
  height: 50px;
}

.city4 {
  height: 50px;
}

.city5 {
  height: 50px;
}

.city6 {
  height: 50px;
}

.city7 {
  height: 50px;
}
