h1 {
  font-family: 'Abril Fatface';
  font-size: 50px;
  color: white;
  text-align: center;
  border: 1px solid lightgrey;
  background-color: lightsalmon;
}

.search-container {
  height: 400px;
  padding-left: 15px;
  font-family: 'Source Sans Pro';
}

.main-container {
box-sizing: border-box;
border: 1px solid lightgrey;
width: 750px;
height: 300px;
}

h3 {
  font-family: 'Source Sans Pro';
}

ul {
  font-family: 'Source Sans Pro';
  list-style: none;
}