h1 {
    font-family: 'Abril Fatface';
    font-size: 50px;
    color: white;
    text-align: center;
    border: 1px solid lightgrey;
    background-color: lightsalmon;
}

.currentHeader {
  font-family: 'Abril Fatface';
  font-size: 50px;
  color: white;
  text-align: center;
  border: 1px solid lightgrey;
  background-color: lightsalmon;
}

.search-container {
  height: 400px;
  padding-left: 15px;
  font-family: 'Source Sans Pro';
}

.jumbo-container {
  border: 1px solid lightgrey;
  background-color: white;
  width: 750px;
  height: 300px;
  text-align: center;
}

h3 {
  font-family: 'Abril Fatface';
  font-size: 20px;
  color: white;
  text-align: center;
  background-color: lightsalmon;
  float: right;
}

.libutton {
  list-style-type: none;
}

.buttonlist {
  color: white;
  font-family: 'Abril Fatface';
  font-size: 35px;
  background-color: lightsalmon;
  height: 50px;
  width: 100%;

}


.card-body {
  height: 200px;
}
